* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 15px;
}

.header {
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin: 20px;
  text-align: center;
  color: #333;
}

#todoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
}

#todoInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  flex: 1;
  border: none;
  font-size: 24px;
  padding: 10px;
  margin-right: 10px;
}

#todoInput:focus {
  outline: none;
}

.form-row {
  border: 1px solid #ced4da;
  padding: 5px;
  display: flex;
  width: 600px;
}

.input-container {
  flex: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-left: 10px;
  margin-right: 10px;
}
button {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  background-color: #007bff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.1rem;
}

button:hover {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
}

#todoList {
  list-style: none;
  margin: 0;
  padding: 0px 0px 0px 5px;
}

#todoList li {
  padding: 20px 20px;
}

#todoList .form-check {
  display: flex;
}

#todoList input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

#todoList .check-label {
  font-size: 18px;
  width: 200px;
  max-width: 300px;
}
.list-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error {
  color: red;
}
.success {
  color: #155724;
}
.date {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  width: 200px;
  text-align: right;
  display: inline-block;
}

.filter-sort-container {
  display: flex;
  align-items: center;
  margin: 40px 0px 30px 0px;
  justify-content: right;
  margin-right: 70px;
}
.edit,
.delete {
  margin-left: 20px;
  color: #000;
}

.filter-container,
.sort-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

label {
  margin-right: 0.5rem;
}

select {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  font-size: 1rem;
  cursor: pointer;
}

select:focus {
  outline: none;
}
footer {
  align-items: center;
  text-align: center;
  margin-top: 200px;
  color: #000;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 10px;
    max-width: 600px;
  }

  .header h1 {
    font-size: 24px;
  }

  #todoInput {
    font-size: 20px;
  }

  #todoList li label {
    font-size: 20px;
  }

  .filter-sort-container {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .filter-container,
  .sort-container {
    margin: 0px;
    margin-bottom: 10px;
  }

  .filter-container {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 20px;
  }

  #todoForm {
    max-width: none;
  }
  .button-container {
    display: column;
    align-items: center;
  }
  .form-row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #todoList li label {
    font-size: 18px;
  }

  .date {
    display: none;
  }

  .filter-sort-container {
    align-items: center;
    margin-right: 0px;
  }
}
